<!DOCTYPE html>
<html>

<head>
  <title>Página de Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container d-flex align-items-center" style="min-height: 100vh">
      <div class="col-lg-4 mx-auto">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h1 class="card-title">Login</h1>
            </div>
            <form class="user-login">
              <div class="form-group">
                <label for="username">Email</label>
                <input type="text" id="email" name="email" class="form-control" formControlName="email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" formControlName="password">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </form>
            <div class="form-group mt-3">
              <p class="text-center">Não tem uma conta? <a href="/signup">Criar conta</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
