

<app-navbar></app-navbar>

  <div class="container" style="padding-top: 2%;">
    <div class="card">
        <img class="card-img-top" src="https://www.ecoplus.at/media/4244/headerbild-wirtschaftspark-iz-noe-sued-izibizi.jpg?anchor=center&mode=crop&width=1980&height=500&rnd=132109565180000000" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Card title</h4>
          <p class="card-text text-center">
            Some quick example text to build on the card title
            and make up the bulk of the card's content.
          </p>
          <a href="#!" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
      </div>

  </div>
